*{
    background-color: rgb(226, 181, 125);
}

body{
    display: flex;
    justify-content: center;
}

.container{
   
}

.container1{
    display: flex;
    margin-top: 70px;
}

.contA{
    width:100%;
    margin: 20px;
}

.box1{
    background-color: green;
    height: 100px;
}

.contA1{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:20px;
    margin-top: 20px;
}

.box2{
    height: 90px;
    background-color: blueviolet;
    flex: 1;  
}

.box3{
    background-color: yellow;
    height: 90px;
    flex:1;
}

.contB{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.contB1{
    width: 100%;
}

.contB2{
    width: 100%;
    margin-right: 20px;
}

.box4{
    background-color:orangered ;
    height:110px;
    flex:1;
}

.box5{
    background-color: rgb(161, 96, 221);
    height:90px;
    margin-top: 10px;
}

.box6{
    background-color: rgb(210, 201, 201);
    height:90px;
    flex: 1;
}

.box7{
    background-color: brown;
    height: 110px;
    flex: 1;
    margin-top: 10px;
}

.container2{
    display: flex;
    margin: 0px 20px;
    gap:20px;
}

.box8{
    background-color: lightgreen;
    height: 110px;
    flex:1;
}

.box9{
    background-color: rgb(65, 54, 171);
    height: 110px;
    flex: 3;
}

.text{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px black; 
    margin-top: 30px;
    
}
