*{
    background-color: rgb(199, 172, 138);
}

body{
  /* width: 100vw; 
  height: 100vh; */
}

.container{

}

.container1{
    width:100%;
    display: flex;
}

.contA{
    width:50%;
    margin: 20px;
}

.box1{
    background-color: green;
    height: 100px;
}

.contA1{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:20px;
    margin-top: 20px;
}

.box2{
    height: 100px;
    background-color: blueviolet;
    flex: 1;  
}

.box3{
    background-color: yellow;
    height: 100px;
    flex:1;
}

.contB{
    width: 50%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.contB1{
    width: 50%;
}

.contB2{
    width: 50%;
}

.box4{
    background-color:orangered ;
    height:110px;
    flex:1;
}

.box5{
    background-color: rgb(161, 96, 221);
    height:100px;
    margin-top: 10px;
}

.box6{
    background-color: rgb(210, 201, 201);
    height:100px;
    flex: 1;
}

.box7{
    background-color: brown;
    height: 110px;
    flex: 1;
}
